body {
  margin: 0 ;
  background-color: oc-gray-8;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
